##Gradient-descent Method.

In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
upload1 = files.upload()

Saving data2.txt to data2.txt

In [ ]:
class LinearRegression:

  def __init__(self):
    self.theta = np.zeros([2,1])
    self.iterations = 1500
    self.alpha = 0.01

  def predict(self, X, y):
    temp = np.dot(X, self.theta) - y
    return np.sum(np.power(temp, 2)) / (2*m)

  def fit(self,X,y):
    for _ in range(self.iterations):
        temp = np.dot(X, self.theta) - y
        temp = np.dot(X.T, temp)
        self.theta = self.theta - (self.alpha/m) * temp
    return self.theta

In [ ]:
data = pd.read_csv('data1.txt', header = None) #read from dataset
X = data.iloc[:,0] # read first column
y = data.iloc[:,1] # read second column
m = len(y) # number of training example
data.head() # view first few rows of the data

        0        1
0  6.1101  17.5920
1  5.5277   9.1302
2  8.5186  13.6620
3  7.0032  11.8540
4  5.8598   6.8233

In [ ]:
X = X[:,np.newaxis]
y = y[:,np.newaxis]
ones = np.ones((m,1))
X = np.hstack((ones, X)) # adding the intercept term

In [ ]:
lin = LinearRegression()
print('theta is ',lin.fit(X,y))
print(lin.predict(X,y))

theta is  [[-3.63029144]
 [ 1.16636235]]
4.483388256587726

In [ ]:
data = pd.read_csv('data2.txt', sep = ',', header = None)
X = data.iloc[:,0:2] # read first two columns into X
y = data.iloc[:,2] # read the third column into y
m = len(y) # no. of training samples
data.head()

      0  1       2
0  2104  3  399900
1  1600  3  329900
2  2400  3  369000
3  1416  2  232000
4  3000  4  539900

In [ ]:
X = (X - np.mean(X))/np.std(X)

In [ ]:
ones = np.ones((m,1))
X = np.hstack((ones, X))

y = y[:,np.newaxis]

In [ ]:
class LinearRegression:

  def __init__(self):
    self.theta = np.zeros((3,1))
    self.iterations = 400
    self.alpha = 0.01
    self.ones = np.ones((m,1))


  def predict(self, X, y):
    temp = np.dot(X, self.theta) - y
    return np.sum(np.power(temp, 2)) / (2*m)


  def fit(self,X,y):
    m = len(y)
    for _ in range(self.iterations):
        temp = np.dot(X, self.theta) - y
        temp = np.dot(X.T, temp)
        self.theta = self.theta - (self.alpha/m) * temp
    return self.theta

In [ ]:
lin = LinearRegression()
print(lin.predict(X,y))
print('theta is ',lin.fit(X,y))
print(lin.predict(X,y))

65591548106.45744
theta is  [[334302.06399328]
 [ 99411.44947359]
 [  3267.01285407]]
2105448288.6292474