##KNN

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Toyota.csv to Toyota.csv

In [ ]:
df = pd.read_csv('Toyota.csv',na_values=['??','???','????'])

In [ ]:
df.head(10)

   Unnamed: 0  Price   Age       KM  ... Automatic    CC  Doors  Weight
0           0  13500  23.0  46986.0  ...         0  2000  three    1165
1           1  13750  23.0  72937.0  ...         0  2000      3    1165
2           2  13950  24.0  41711.0  ...         0  2000      3    1165
3           3  14950  26.0  48000.0  ...         0  2000      3    1165
4           4  13750  30.0  38500.0  ...         0  2000      3    1170
5           5  12950  32.0  61000.0  ...         0  2000      3    1170
6           6  16900  27.0      NaN  ...         0  2000      3    1245
7           7  18600  30.0  75889.0  ...         0  2000      3    1245
8           8  21500  27.0  19700.0  ...         0  1800      3    1185
9           9  12950  23.0  71138.0  ...         0  1900      3    1105

[10 rows x 11 columns]

In [ ]:
df.isnull()

      Unnamed: 0  Price    Age     KM  ...  Automatic     CC  Doors  Weight
0          False  False  False  False  ...      False  False  False   False
1          False  False  False  False  ...      False  False  False   False
2          False  False  False  False  ...      False  False  False   False
3          False  False  False  False  ...      False  False  False   False
4          False  False  False  False  ...      False  False  False   False
...          ...    ...    ...    ...  ...        ...    ...    ...     ...
1431       False  False   True  False  ...      False  False  False   False
1432       False  False  False   True  ...      False  False  False   False
1433       False  False   True  False  ...      False  False  False   False
1434       False  False  False   True  ...      False  False  False   False
1435       False  False  False  False  ...      False  False  False   False

[1436 rows x 11 columns]

In [ ]:
df.isnull().sum().sum()

371

In [ ]:
df.isnull().sum()

Unnamed: 0      0
Price           0
Age           100
KM             15
FuelType      100
HP              6
MetColor      150
Automatic       0
CC              0
Doors           0
Weight          0
dtype: int64

In [ ]:
df.fillna(df.mean(), inplace=True)

In [ ]:
df['Doors'] = df['Doors'].replace(to_replace =["three"], value = 3)

In [ ]:
df['Age'] = df['Age'].fillna(df['Age'].mean())
df['KM'] = df['KM'].fillna(df['KM'].mean())
df['FuelType'] = df['FuelType'].fillna(df['FuelType'].mode()[0])
df['HP'] = df['HP'].fillna(df['HP'].mean())
df['MetColor'] = df['MetColor'].fillna(df['MetColor'].mode()[0])

In [ ]:
df.head(10)

   Unnamed: 0  Price   Age            KM  ... Automatic    CC  Doors  Weight
0           0  13500  23.0  46986.000000  ...         0  2000      3    1165
1           1  13750  23.0  72937.000000  ...         0  2000      3    1165
2           2  13950  24.0  41711.000000  ...         0  2000      3    1165
3           3  14950  26.0  48000.000000  ...         0  2000      3    1165
4           4  13750  30.0  38500.000000  ...         0  2000      3    1170
5           5  12950  32.0  61000.000000  ...         0  2000      3    1170
6           6  16900  27.0  68647.239972  ...         0  2000      3    1245
7           7  18600  30.0  75889.000000  ...         0  2000      3    1245
8           8  21500  27.0  19700.000000  ...         0  1800      3    1185
9           9  12950  23.0  71138.000000  ...         0  1900      3    1105

[10 rows x 11 columns]

In [ ]:
print(df)

      Unnamed: 0  Price        Age            KM  ... Automatic    CC  Doors  Weight
0              0  13500  23.000000  46986.000000  ...         0  2000      3    1165
1              1  13750  23.000000  72937.000000  ...         0  2000      3    1165
2              2  13950  24.000000  41711.000000  ...         0  2000      3    1165
3              3  14950  26.000000  48000.000000  ...         0  2000      3    1165
4              4  13750  30.000000  38500.000000  ...         0  2000      3    1170
...          ...    ...        ...           ...  ...       ...   ...    ...     ...
1431        1431   7500  55.672156  20544.000000  ...         0  1300      3    1025
1432        1432  10845  72.000000  68647.239972  ...         0  1300      3    1015
1433        1433   8500  55.672156  17016.000000  ...         0  1300      3    1015
1434        1434   7250  70.000000  68647.239972  ...         0  1300      3    1015
1435        1435   6950  76.000000      1.000000  ...         0  1600      5    1114

[1436 rows x 11 columns]

In [ ]:
print(df.dtypes)

Unnamed: 0      int64
Price           int64
Age           float64
KM            float64
FuelType       object
HP            float64
MetColor      float64
Automatic       int64
CC              int64
Doors          object
Weight          int64
dtype: object

In [ ]:
df["Age"] = df["Age"].astype(float)
df["HP"] = df["HP"].astype(float)
df["MetColor"] = df["MetColor"].astype(float)
print(df)

      Unnamed: 0  Price        Age            KM  ... Automatic    CC  Doors  Weight
0              0  13500  23.000000  46986.000000  ...         0  2000      3    1165
1              1  13750  23.000000  72937.000000  ...         0  2000      3    1165
2              2  13950  24.000000  41711.000000  ...         0  2000      3    1165
3              3  14950  26.000000  48000.000000  ...         0  2000      3    1165
4              4  13750  30.000000  38500.000000  ...         0  2000      3    1170
...          ...    ...        ...           ...  ...       ...   ...    ...     ...
1431        1431   7500  55.672156  20544.000000  ...         0  1300      3    1025
1432        1432  10845  72.000000  68647.239972  ...         0  1300      3    1015
1433        1433   8500  55.672156  17016.000000  ...         0  1300      3    1015
1434        1434   7250  70.000000  68647.239972  ...         0  1300      3    1015
1435        1435   6950  76.000000      1.000000  ...         0  1600      5    1114

[1436 rows x 11 columns]

In [ ]:
df['Doors'] = df["Doors"].replace(to_replace =["three"], value = 3)
df['Doors'] = df["Doors"].replace(to_replace =["four"], value = 4)
df['Doors'] = df["Doors"].replace(to_replace =["five"], value = 5)

In [ ]:
X = df.drop('FuelType', axis = 1)

In [ ]:
y = df['FuelType']

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
k_range = range(1,26)
scores={}
scores_list = []

for i in k_range:
  knn = KNeighborsClassifier(n_neighbors = i)
  knn.fit(X_train,y_train)
  y_pred = knn.predict(X_test)
  scores[i] = metrics.accuracy_score(y_test,y_pred)
  scores_list.append(metrics.accuracy_score(y_test,y_pred))
print(scores) 
print(scores_list)

{1: 0.90625, 2: 0.8506944444444444, 3: 0.8993055555555556, 4: 0.9097222222222222, 5: 0.9097222222222222, 6: 0.90625, 7: 0.9166666666666666, 8: 0.9131944444444444, 9: 0.9236111111111112, 10: 0.9236111111111112, 11: 0.9340277777777778, 12: 0.9305555555555556, 13: 0.9305555555555556, 14: 0.9270833333333334, 15: 0.9270833333333334, 16: 0.9270833333333334, 17: 0.9270833333333334, 18: 0.9270833333333334, 19: 0.9270833333333334, 20: 0.9236111111111112, 21: 0.9236111111111112, 22: 0.9236111111111112, 23: 0.9270833333333334, 24: 0.9270833333333334, 25: 0.9270833333333334}
[0.90625, 0.8506944444444444, 0.8993055555555556, 0.9097222222222222, 0.9097222222222222, 0.90625, 0.9166666666666666, 0.9131944444444444, 0.9236111111111112, 0.9236111111111112, 0.9340277777777778, 0.9305555555555556, 0.9305555555555556, 0.9270833333333334, 0.9270833333333334, 0.9270833333333334, 0.9270833333333334, 0.9270833333333334, 0.9270833333333334, 0.9236111111111112, 0.9236111111111112, 0.9236111111111112, 0.9270833333333334, 0.9270833333333334, 0.9270833333333334]

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = knn.predict(X_test)

In [ ]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9097222222222222